# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Sensitive files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
*.tfvars

# IDE/Editor specific
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# ZIPs or backups
*.zip
*.tar.gz
*.bak